extends layout.pug

block content 
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9

        //- Add your name.
        h1 ANIL VARMA KEERTHIPATI

        //- Feel free personalize the title below
        p.lead.text-light
          | HELLO WORLD ! I'M A FULL STACK JAVASCRIPT DEVELOPER

        //- Replace the boilerplate below with your Elevator pitch below.
        .portfolio-bio
          p
            | Computer Science and Engineering Graduate, primed to apply the theoretical knowledge gained at University and the skills acquired through extensive internship in a practical environment while learning from experienced professionals. 
            | Comprehensive understanding of the fundamental principles and concepts associated with Computer Science practice. 
            | I would welcome the opportunity to discuss how I can support your organisation deliver results through implementation of digital solutions, web development, and programming.
      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Skills

        //- Replace the text in the li tags below with your own skills.  At this point, you should be able to list at least ten skills.
        ul
          li JavaScript
          li HTML5
          li CSS
          li Python
          li Node.js
          li Express.js
          li C
          li Java
          li MySql
          li jQuery
        h6 Contact Info

        //- Add your own contact info
        ul
          li +1 306-807-4564
          li anilvarma.kav@gmail.com

        //- Add URLs to the hrefs below to link to your social media accounts.
        a.button.expanded(href='https://www.linkedin.com/in/anil-varma-keerthipati-9638b6142', target = "_blank") LinkedIn
        a.button.expanded(href='https://github.com/anilvarma-kav', target = "_blank") GitHub
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  