extends layout.pug

block content 
  article.grid-container.portfolio-intro
    div

      //- Add a title or heading like My Portfolio, or Hey, Potential Employers, or Let's make the web great together! 
      h1 Welcome to my Portifolio website

      //- Add a description for your portfolio, what this project is, it's purpose, what it's supposed to accomplish, etc. 
      p.lead.text-light
        |  This portifolio website is mainly to demontrate my Skills. Including, but not limited to: Web Development, soft skills, Problem Solving and life long learning.
  article.grid-container.portfolio-index

    .grid-x.grid-margin-x.small-up-2.medium-up-2.large-up-3
        each project in projects
          .cell
            a(href=`/${project.id}`)
              img.thumbnail(src= project.image_url[0],height=550, width=550)
              h5= project.project_name
          

      
